.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.Top-container {
  display: flex;
  min-width: 100%;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/playground_assets/313-200h.jpg");
}
.Navbar {
  display: flex;
  padding: 2%;
  max-width: 100%;
  min-width: 50%;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: 2%;
  justify-content: space-between;
}
.navlink {
  display: contents;
}
.Logo {
  width: 60%;
  text-decoration: none;
}
.text {
  color: #0c0909;
}
.Links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navlink01 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navlink02 {
  font-size: 18px;
  min-width: 15%;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navlink03 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.navlink04 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.Hero {
  display: none;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.Content-container {
  height: 286px;
  display: flex;
  margin-top: var(--dl-space-space-quadruple);
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.text01 {
  color: #fdfdfd;
}
.text02 {
  color: #141010;
}
.text04 {
  color: #141010;
}
.text05 {
  color: #060404;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.text06 {
  color: #0c0909;
}
.text07 {
  color: #100d0d;
}
.navlink05 {
  display: contents;
}
.component {
  text-decoration: none;
}
.Hero1 {
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.Content-container1 {
  height: 85%;
  display: flex;
  margin-top: 10%;
  align-items: flex-start;
  margin-right: 0%;
  flex-direction: column;
  justify-content: center;
}
.text08 {
  color: #100c0c;
}
.text09 {
  color: #180606;
}
.text11 {
  color: #180606;
}
.text12 {
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.text13 {
  color: #100c0c;
}
.navlink06 {
  display: contents;
}
.component1 {
  text-decoration: none;
}
.Main {
  height: auto;
  display: flex;
  padding: 2%;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.text14 {
  height: 66px;
  align-self: center;
}
.container1 {
  width: 318px;
  height: 1284px;
  display: none;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navlink07 {
  display: contents;
}
.component2 {
  text-decoration: none;
}
.navlink08 {
  display: contents;
}
.component3 {
  text-decoration: none;
}
.navlink09 {
  display: contents;
}
.component4 {
  text-decoration: none;
}
.Cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  position: relative;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
  margin-top: 2%;
  align-items: flex-start;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: space-between;
}
.navlink10 {
  display: contents;
}
.component5 {
  text-decoration: none;
}
.navlink11 {
  display: contents;
}
.component6 {
  text-decoration: none;
}
.navlink12 {
  display: contents;
}
.component7 {
  text-decoration: none;
}
.text15 {
  height: 45px;
  align-self: center;
  margin-bottom: 2%;
}
.textinput {
  width: 465px;
  border-radius: 20px;
}
.textinput1 {
  width: 465px;
  margin-top: 10px;
  border-radius: 20px;
}
.Footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.Menu {
  width: 1047px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navlink13 {
  display: contents;
}
.Logo1 {
  width: 190px;
  text-decoration: none;
}
.container3 {
  width: 568px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.text16 {
  align-self: center;
  text-decoration: none;
}
.text17 {
  text-decoration: none;
}
.text18 {
  text-decoration: none;
}
.navlink15 {
  align-self: center;
  text-decoration: none;
}
.link {
  align-self: center;
  text-decoration: none;
}
.link1 {
  align-self: center;
  text-decoration: none;
}
.Follow-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.text19 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.Icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.link2 {
  display: contents;
}
.icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.link3 {
  display: contents;
}
.icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.link4 {
  display: contents;
}
.icon4 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .Hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .Hero1 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .Cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .Hero {
    justify-content: center;
  }
  .Content-container {
    align-items: center;
  }
  .text01 {
    font-size: 2.5rem;
  }
  .text05 {
    text-align: center;
  }
  .Hero1 {
    justify-content: center;
  }
  .Content-container1 {
    align-items: center;
  }
  .text08 {
    font-size: 2.5rem;
  }
  .text12 {
    text-align: center;
  }
  .Main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Menu {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .Top-container {
    height: auto;
    flex-wrap: wrap;
    max-width: auto;
    min-width: 100%;
    align-self: stretch;
    align-items: center;
    background-size: cover;
    justify-content: space-between;
    background-image: url("/playground_assets/313-200h.jpg");
  }
  .Navbar {
    padding: 5%;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: stretch;
    justify-content: space-between;
  }
  .Logo {
    width: auto;
    max-width: 15%;
    min-width: 15%;
    align-self: stretch;
  }
  .Links-container {
    flex: 1;
    width: 90%;
    max-width: 90%;
    min-width: 50%;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
  }
  .navlink02 {
    width: auto;
    height: auto;
  }
  .Hero {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
  }
  .text01 {
    color: #080606;
    font-size: 2rem;
    text-align: center;
  }
  .Subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .text05 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .Hero1 {
    display: none;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
  }
  .text08 {
    font-size: 2rem;
    text-align: center;
  }
  .Subheading1 {
    font-size: 1.3rem;
    text-align: center;
  }
  .text12 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .Main {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    min-width: 100%;
    align-self: stretch;
    align-items: center;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    justify-content: center;
  }
  .container1 {
    width: auto;
    height: auto;
    display: flex;
  }
  .Cards-container {
    display: none;
  }
  .textinput {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .textinput1 {
    margin-top: var(--dl-space-space-unit);
  }
  .Footer {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    min-width: 100%;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Menu {
    width: 100%;
    flex-wrap: wrap;
    max-width: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .Logo1 {
    width: auto;
  }
  .container3 {
    width: 100%;
  }
  .text16 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navlink15 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .Follow-container {
    margin-left: 0px;
  }
}
